<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="/styles/architect.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/styles/architect_pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/styles/architect_print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>jacho by jachohx</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>jacho</h1>
        <h2></h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
			{{ content }}
        </section>
      </div>
    </div>

  
  </body>
</html>